@import "tailwindcss";

.navbar {
  @apply w-20 h-[750px] p-3 sm:p-4 flex flex-col border-r;
  border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
  @apply flex-1 mt-12;
}

.link {
  @apply w-12 h-12 rounded-md flex items-center justify-center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  
  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }

  &[data-active] {
    &,
    &:hover {
      background-color: var(--mantine-color-green-light);
      color: var(--mantine-color-green-light-color);
    }
  }
}